# Ignore everything in this directory
*~
*.o
*.o.d
*.gcov

new-openfhe/bin/
new-openfhe/build*/
new-openfhe/cmake-build-debug
new-openfhe/docs/doxygen
new-openfhe/docs/sphinx
new-openfhe/_build/
new-openfhe/api/
new-openfhe/doxyoutput/


new-openfhe/.ipynb_checkpoints

new-openfhe/test/build
new-openfhe/test/bin
new-openfhe/output.txt
new-openfhe/Doxyfile
new-openfhe/apidoc_warning_logfile.txt
new-openfhe/third-party/distros/gmp-6.1.1
new-openfhe/third-party/distros/gmp-6.1.2
new-openfhe/third-party/distros/ntl-10.3.0
new-openfhe/third-party/distros/ntl-10.5.0
new-openfhe/third-party/include/NTL
new-openfhe/third-party/include/gmp.h
new-openfhe/third-party/lib
new-openfhe/third-party/share
**/gmp-*
**/ntl-*
new-openfhe/timing/
new-openfhe/gmon.out
## .gitattributes
# Except this file
!.gitignore

new-openfhe/.idea
*/**/*.gch
*.a
*.class

## for the moment
.cproject
.metadata/
.project
.settings/
RemoteSystemTempFiles/
.classpath
.externalToolBuilders/
/Default/

.DS_Store

# Ignore intellij project files/cmake files
# CMakeLists.txt
.idea/

new-openfhe/src/circuit/lib/scan.cpp
new-openfhe/src/circuit/lib/parse.cpp
new-openfhe/src/circuit/lib/parse.hpp
new-openfhe/src/circuit/lib/*.hh

# vagrant output
new-openfhe/.vagrant/
*.log

# gtest output files
new-openfhe/test_detail.xml

# Visual Studio Code
new-openfhe/.vscode
